<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://urn.bytesms.co.za</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>BMSSLBURN</MSDeployServiceURL>
    <DeployIisAppPath>URNBMS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BmsWorkOrderDB" Order="1" Enabled="False">
          <Destination Path="Data Source=BMSSLBURN;Initial Catalog=BmsWorkOrderDB;User ID=sa;Password=Password.1" />
          <Object Type="DbCodeFirst">
            <Source Path="MultipleDBMigrations" DbContext="UrnBMS.Models.UrnDbContext, UrnBMS" MigrationConfiguration="-DuplicateMigration-" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BmsUserDatabase" Order="2" Enabled="False">
          <Destination Path="Data Source=BMSSLBURN;Initial Catalog=BmsUserDb;User ID=sa;Password=Password.1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="UrnBMS.Models.ApplicationDbContext, UrnBMS" MigrationConfiguration="UrnBMS.UserMigrations.Configuration, UrnBMS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="BmsUserDatabase-Web.config Connection String">
      <ParameterValue>Data Source=BMSSLBURN;Initial Catalog=BmsUserDb;User ID=sa;Password=Password.1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="BmsWorkOrderDB-Web.config Connection String">
      <ParameterValue>Data Source=BMSSLBURN;Initial Catalog=BmsWorkOrderDB;User ID=sa;Password=Password.1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>